.joke-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 20px;
}

.get-a-joke-btn {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--violet-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .joke-container {
    width: 100%;
    height: auto;
    max-height: 100vh;
    padding: 10px;
    margin: 0 auto;
  }
}
